<!-- Alterações e lesões -->
    <div class="tab-pane fade" id="pills-content6" role="tabpanel" aria-labelledby="pills-tab6">
        <form class="row g-3">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="bromidrose" id="bromidrose">
                    <label class="form-check-label" for="bromidrose">Bromidrose</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="hidrose" id="hidrose">
                    <label class="form-check-label" for="hidrose">Hidrose</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="desidrose" id="desidrose">
                    <label class="form-check-label" for="desidrose">Desidrose</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="isquemia" id="isquemia">
                    <label class="form-check-label" for="isquemia">Isquemia</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="mal_perfurante" id="mal_perfurante">
                    <label class="form-check-label" for="mal_perfurante">Mal Perfurante</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="edema" id="edema">
                    <label class="form-check-label" for="edema">Edema</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="tinea" id="tinea">
                    <label class="form-check-label" for="tinea">Tinea</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="psoríase" id="psoríase">
                    <label class="form-check-label" for="psoríase">Psoríase</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="tungiase" id="tungiase">
                    <label class="form-check-label" for="tungiase">Tungíase</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="lesoes[]" value="fissuras" id="fissuras">
                    <label class="form-check-label" for="fissuras">Físsuras</label>
                </div>
            </div>

            <!-- Perfusão  -->
            <h5>Perfusão</h5>
            <div class="col-md-6">
                <label for="perfusao_pd" class="form-label">Pé Direito</label>
                <select class="form-select" id="perfusao_pd">
                    <option selected>Escolha...</option>
                    <option>Normal</option>
                    <option>Pálido</option>
                    <option>Cianótico</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="perfusao_pe" class="form-label">Pé Esquerdo</label>
                <select class="form-select" id="perfusao_pe">
                    <option selected>Escolha...</option>
                    <option>Normal</option>
                    <option>Pálido</option>
                    <option>Cianótico</option>
                </select>
            </div>
            <!-- Abaixo Perfusão -->
            <form class="row g-3">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="verruga_plantar" id="verruga_plantar">
                        <label class="form-check-label" for="verruga_plantar">Verruga Plantar</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="queratose" id="queratose">
                        <label class="form-check-label" for="queratose">Queratose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="hiperqueratose" id="hiperqueratose">
                        <label class="form-check-label" for="hiperqueratose">Hiperqueratose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="calo_dorsal" id="calo_dorsal">
                        <label class="form-check-label" for="calo_dorsal">Calo Dorsal</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="calo_plantar" id="calo_plantar">
                        <label class="form-check-label" for="calo_plantar">Calo Plantar</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="lesoes[]" value="calo_interdigital" id="calo_interdigital">
                        <label class="form-check-label" for="calo_interdigital">Calo Interdigital</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="erisipela" class="form-label">Já teve ou apresenta Erisipela?</label>
                    <select class="form-select" id="erisipela">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <label for="alt_pele" class="form-label">Outras alterações na pele:</label>
                <input type="text" class="form-control" id="alt_pele" placeholder="Digite outras alterações">
                
            </form>
    </div>