<!-- Dados Pessoais -->
    <div class="tab-pane fade show active" id="pills-content1" role="tabpanel" aria-labelledby="pills-tab1">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                {{nome}}
            </div>
            <div class="col-md-6">
                <label for="data" class="form-label">Data</label>
                {{data}}
            </div>
            <div class="col-md-4">
                <label for="endereco" class="form-label">Endereço</label>
               {{endereco}}
            </div>
            <div class="col-md-4">
                <label for="numero_local" class="form-label">Número</label>
                {{numero}}
            </div>
            <div class="col-md-4">
                <label for="complemento" class="form-label">Complemento</label>
                {{complemento}}
            </div>
            <div class="col-md-4">
                <label for="cidade" class="form-label">Cidade</label>
                {{cidade}}
            </div>
            <div class="col-md-4">
                <label for="estado" class="form-label">Estado</label>
                {{estado}}
            </div>
            <div class="col-md-4">
                <label for="cep" class="form-label">CEP</label>
                {{cep}}
            </div>
            <div class="col-md-6">
                <label for="telefone_residencial" class="form-label">Telefone Residencial</label>
                {{telefone_residencial}}
            </div>
            <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone </label>
                {{telefone}}
            </div>
            <div class="col-md-6">
                <label for="telefone_emergencia" class="form-label">Telefone de Emergência</label>
                {{telefone_emergencia}}
            </div>
            <div class="col-md-6">
                <label for="contato" class="form-label">Contato</label>
                {{contato}}
            </div>
            <div class="col-md-6">
                <label for="data-nascimento" class="form-label">Data Nascimento</label>
               {{data_nascimento}}
            </div>
            <div class="col-md-6">
                <label for="sexo" class="form-label">Sexo:</label>
                <select class="form-select" id="sexo">
                    <option selected>Escolha...</option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="profissao" class="form-label">Profissão</label>
                {{profissao}}
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                {{email}}
            </div>
        </form>
    </div>
