<!-- Formato das unhas -->
    <div class="tab-pane fade" id="pills-content5" role="tabpanel" aria-labelledby="pills-tab5">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="formato_unha" class="form-label">Formato Unhas</label>
                <select class="form-select" id="formato_unha">
                    <option selected>Escolha...</option>
                    <option> A-Normal</option>
                    <option> B-Involuta</option>
                    <option> C-Telha</option>
                    <option> D-Funil</option>
                    <option> E-Gancho</option>
                    <option> F-Torquês</option>
                    <option> G-Caracol</option>
                    <option> H-Cunha</option>
                </select>
                <div class="container mt-5">
                    <img src="/images/unhas.jpg" class="img-fluid" alt="Imagem Responsiva">
                </div>
            </div>
            <!-- Artelhos  -->
            <h5>Artelhos</h5>
            <div class="col-md-6">
                <label for="artelhos_pd" class="form-label">Pé Direito</label>
                <select class="form-select" id="artelhos_pd">
                    <option selected>Escolha...</option>
                    <option>Hálux</option>
                    <option>2°</option>
                    <option>3°</option>
                    <option>4°</option>
                    <option>5°</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="artelhos_pe" class="form-label">Pé Esquerdo</label>
                <select class="form-select" id="artelhos_pe">
                    <option selected>Escolha...</option>
                    <option>Hálux</option>
                    <option>2°</option>
                    <option>3°</option>
                    <option>4°</option>
                    <option>5°</option>
                </select>
            </div>
            <form class="row g-3">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicoatrofia" id="onicoatrofia">
                        <label class="form-check-label" for="onicoatrofia">Onicoatrofia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicocriptose" id="onicocriptose">
                        <label class="form-check-label" for="onicocriptose">Onicocriptose</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="cformato[]" value="onicorrexe" id="onicorrexe">
                        <label class="form-check-label" for="onicorrexe">Onicorrexe</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="granuloma" id="granuloma">
                        <label class="form-check-label" for="granuloma">Granuloma</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicogrifose" id="onicogrifose">
                        <label class="form-check-label" for="onicogrifose">Onicogrifose</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicolise" id="onicolise">
                        <label class="form-check-label" for="onicolise">Onicolise</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicofose" id="onicofose">
                        <label class="form-check-label" for="onicofose">Onicofose</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="psoriase_ungueal" id="psoriase_ungueal">
                        <label class="form-check-label" for="psoriase_ungueal">Psoríase ungueal</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="formato[]" value="onicomicose" id="onicomicose">
                        <label class="form-check-label" for="onicomicose">Onicomicose</label>
                    </div>
                </div>
                <label for="alt_ungueais" class="form-label">Outras alterações ungueais:</label>
                <input type="text" class="form-control" id="alt_ungueais" placeholder="Digite outras alterações">
            </form>
    </div>